# Sensitive information
/hmccreds.yaml

# Make targets
/*.done

# Make build
/build/
/dist/
/*.egg-info/
/AUTHORS
/ChangeLog

# Make test
__pycache__/
/.pytest_cache/
/htmlcov/
/.coverage

# Make build_doc
/build_docs/

# If I still have a file open in Vim
*.swp
