# Sensitive information
/hmccreds.yaml

# Unnecessary clutter created by build processes
build/
*.egg-info/
AUTHORS
ChangeLog
docs/.doctrees

# Unnecessary clutter created by test process
__pycache__/
.pytest_cache/
.coverage

# Build
dist/

# Doc build
docs/_build/

# Test coverage
htmlcov/

# If I still have a file open in Vim
*.swp
