zhmcclient>=0.19.0 # Apache-2.0
prometheus-client>=0.3.1 # Apache-2.0
urllib3>=1.24.0
jsonschema>=2.6.0

# PyYAML pulled in by zhmcclient examples
# PyYAML 5.3 fixes narrow build error, and has removed support for Python 3.4
PyYAML>=5.1; python_version == '2.7'
PyYAML>=5.1,<5.3; python_version == '3.4'
PyYAML>=5.1; python_version > '3.4'

# pyrsistent is pulled in by jsonschema.
# Before its version 0.17.0, pyrsistent did not or not correctly declare its
# required Python versions in the package metadata.
# pyrsistent 0.16.0 removed support for Python 2.7.
# pyrsistent 0.15.0 removed support for Python 3.4.
pyrsistent>=0.14.0,<0.16.0; python_version == '2.7'
pyrsistent>=0.14.0,<0.15.0; python_version == '3.4'
pyrsistent>=0.14.0; python_version >= '3.5'
